.first-screen {
    background: $gradient;
    min-height: 760px;

    @include desktop {
        min-height: 640px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 140px 130px;

        @include desktop {
            padding: 140px 100px;
        }

        @include tablet {
            padding: 100px 0 140px;
            flex-direction: column;
            align-items: center;
        }

        @include mobile {
            padding: 240px 0 100px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;

        @include tablet {
            margin: 0 0 40px;
        }

        @include mobile {
            margin: 0 0 20px;
        }
    }

    &__title-wrapper {
        margin-top: 20px;
    }

    &__title {
        color: $white;
        @include font(900, 67px, 1);

        @include tablet-desktop {
            font-size: 54px;
        }

        @include mobile-tablet {
            text-align: center;
        }

        @include mobile {
            font-size: 30px;
            margin: 0;
        }

        &--stamps {
            font-weight: 900;
        }

        &--time {
            font-weight: 300;
        }
    }

    &__stock {
        display: flex;
        margin-bottom: 50px;

        @include tablet-desktop {
            margin-bottom: 40px;
        }

        @include mobile-tablet {
            display: none;
        }
    }

    &__stock-icon-wrapper {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;

        @include desktop {
            width: 90px;
            height: 90px;
        }

        @include tablet {
            margin-bottom: 30px;
        }
    }

    &__stock-icon {
        width: 65px;
        height: 60px;

        @include desktop {
            width: 52px;
            height: 48px;
        }
    }

    &__stock-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        color: $white;

        &--tablet {
            display: none;
            color: $dark-gray;
            padding: 0;

            @include mobile-tablet {
                display: flex;
            }
        }
    }

    &__stock-label {
        display: flex;
        justify-content: center;
        width: 70px;
        text-transform: uppercase;
        padding: 8px 0 6px;
        border-radius: 8px;
        background: $orange;
        margin-bottom: 5px;
        @include font(900, 14px, 1);

        @include desktop {
            font-size: 11px;
        }
    }

    &__stock-title {
        @include font(500, 22px, 1);

        @include desktop {
            font-size: 18px;
        }

        @include mobile-tablet {
            font-size: 14px;
        }

        &--free {
            text-transform: uppercase;
            font-weight: 900;

            @include tablet-desktop {
                font-weight: 900;
            }
        }
    }

    &__form {
        width: 400px;
        height: 400px;
        background: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 35px;

        @include tablet-desktop {
            width: 320px;
            height: 320px;
            padding: 35px 30px;
        }

        @include tablet {
            height: 385px;
        }

        @include mobile {
            width: 300px;
            padding: 25px 20px;
            height: auto;
        }
    }

    &__form-title {
        color: $dark-gray;
        margin-bottom: 5px;
        @include font(300, 28px, 1);

        @include tablet-desktop {
            font-size: 22px;
        }

        @include mobile {
            font-size: 18px;
        }
    }

    &__form-item {
        color: $dark-gray;
        margin-bottom: 10px;
        display: flex;
        @include font(500, 17px, 1);

        &--bold {
            text-transform: uppercase;
            margin-left: 5px;
            font-weight: 900;
        }

        @include tablet-desktop {
            font-size: 14px;
        }

        @include mobile {
            font-size: 12px;
            margin: 0;
        }
    }

    &__form-input {
        border-radius: 2px;
        background: $white;
        text-align: left;
        margin: 20px 0 0;
        padding: 0 30px;
        width: 320px;
        height: 60px;
        border: 1px solid $light-gray;
        border-radius: 6px;
        outline: none;
        @include font(300, 18px, 1);

        @include tablet-desktop {
            width: 260px;
            height: 48px;
            margin: 16px 0 0;
        }

        @include mobile {
            width: 100%;
            height: 40px;
            margin: 16px 0 0;
            font-size: 12px;
        }
    }

    &__form-button {
        border-radius: 100px;
        border: none;
        background: $black;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        margin: 30px 0 0;
        width: 320px;
        height: 70px;
        outline: none;
        @include font(900, 16px, 1);

        @include tablet-desktop {
            width: 260px;
            height: 56px;
        }

        @include tablet {
            margin-bottom: 20px;
        }

        @include mobile {
            width: 100%;
            height: 56px;
            margin: 20px 0;
            font-size: 14px;
        }
    }
}
