.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 900px;

    &__item {
        width: 32%;
        margin-bottom: 2%;

        &:not(:nth-child(3n)) {
            margin-right: 2%;
        }
    }
}

.products-list-enter {
  opacity: 0;
}

.products-list-enter.products-list-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}

.products-list-leave,
.products-list-leave.products-list-leave-active {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
