.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 900px;

    &__item {
        width: 32%;
        margin-bottom: 2%;

        &:not(:nth-child(3n)) {
            margin-right: 2%;
        }
    }
}
