$gradient: radial-gradient(circle closest-corner at 40% 60%, #f58f08, #f27d06);
$white: #fff;
$black: #000;
$light-gray: #acacac;
$gray: #595959;
$dark-gray: #3c3c3c;
$orange: #e17a02;
$orange2: #f27d06;
