$gradient: radial-gradient(circle closest-corner at 40% 60%, #fd9b05, #f27d06);
$gradient2: radial-gradient(circle closest-corner at 45% 80%, #ffa705, #f77903);
$white: #fff;
$black: #000;
$light-gray: #acacac;
$gray: #595959;
$dark-gray: #3c3c3c;
$orange: #e17a02;
$orange2: #f27d06;
$light-orange: #ff8c1a;
