@import './template';
@import './first-screen/first-screen';
@import './production/production';
@import './form-block/form-block';
@import './quality-block/quality-block';
@import './catalog/catalog';
@import './faq/faq';
@import './delivery/delivery';
@import './feedback/feedback';
@import './dialog/dialog';

* {
    box-sizing: border-box;
}

.MuseoSansCyrl-loaded body {
    font-family: 'MuseoSansCyrl', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;

    @include desktop {
        width: 1024px;
    }

    @include tablet {
        width: 728px;
    }

    @include mobile {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}
