@import './catalog-controls';
@import './products-list';
@import './product';

.catalog {
    display: flex;
    margin: 400px 0 40px;

    &__controls-block {
        width: 260px;
    }

    &__catalogs-block {
        width: 900px;
    }
}
