.catalog-controls {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;

    @include mobile {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    &__item {
        @include mobile {
            width: 100%;
        }
    }

    &__button {
        display: block;
        transition: background .1s ease;
        padding: 22px 0 17px;
        margin: 0 25px;
        background: $white;
        text-transform: uppercase;
        color: $light-gray;
        font-weight: bold;
        @include font(700, 14px, 24px);
        outline: none;
        border: none;

        @include tablet-desktop {
            @include font(700, 12px, 20px);
        }

        @include tablet {
            @include font(700, 12px, 20px);
            flex-shrink: 0;
            white-space: nowrap;
            margin: 0 10px;
        }

        @include mobile {
            text-align: center;
            margin: 0;
            border-bottom: 1px solid #f7f6f6;
            padding-bottom: 21px;
            width: 100%;
        }

        &:hover {
            color: $dark-gray;
        }

        &--active {
            border-bottom: 5px solid $dark-gray;
            color: $dark-gray;

            @include mobile {
                padding-bottom: 17px;
            }
        }
    }
}

.catalog-controls-wrapper {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 25px;
}
