.product {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        box-shadow: 0 3px 25px rgba(0,0,0,0.1);
        border-radius: 6px;
    }

    &__img-wrapper {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        margin: 10px auto 0;
        text-align: center;
        @include font(500, 16px, 22px);
    }

    &__more {
        text-decoration: underline;
        cursor: pointer;
        margin: 0 0 10px;
        @include font(500, 14px, 24px);
        color: $light-gray;
    }

    &__description {
        position: absolute;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        text-align: center;
        width: calc(100% - 40px);
        background: #fff;
        padding: 10px;
        top: 350px;
        color: $dark-gray;
        @include font(900, 13px, 24px);
    }

    &__button-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    &__price {
        margin: 15px 0;
        color: $dark-gray;
        @include font(900, 18px, 24px);

        &::after {
            content: '₽';
            margin-left: 4px;
            @include font(500, 16px, 24px);
        }
    }

    &__button {
        display: block;
        width: calc(60%);
        transition: background .1s ease;
        height: 40px;
        padding: 2px 20px 0;
        background-color: $orange2;
        border-radius: 20px;
        outline: none!important;
        border: none;
        color: $white;
        text-transform: uppercase;
        @include font(900, 13px, 24px);
    }
}
